<div style="font-family:Courier;">
	<div style="text-align:center;font-size:35px;">
		<u> Birth Certificate </u>
	</div>
	
	<div class="expander" style="height:20px">
	</div>

	<div style="height:55px;">
 		<div style="float:left;font-size:15px;font-weight:bold;">
			Ref:- Vidhya/Panch/2012.
 		</div>	

 		<div style="float:right;font-size:20px;">
			Date:- ..............
		</div>
	</div>

	<div class="expander" style="height:20px">
	</div>
</div>

<div style="height:200px;font-style:Courier">
		<div style="font-size:20px;line-height:35px;">
			It&nbsp;&nbsp;is&nbsp;&nbsp;certified&nbsp;&nbsp;that......................,&nbsp;&nbsp;S/o,D/o.........., <br/>
			Mrs..................&nbsp;&nbsp;is&nbsp;&nbsp;a&nbsp;&nbsp;regular&nbsp;&nbsp;student&nbsp;&nbsp;of&nbsp;&nbsp;this&nbsp;&nbsp; school.<br/>
			His/Her&nbsp;&nbsp;admission&nbsp;&nbsp;No.is&nbsp;&nbsp;..........His/Her&nbsp;&nbsp;date&nbsp;&nbsp;of&nbsp;&nbsp;birth&nbsp;&nbsp;as<br/>
			recorded&nbsp;in&nbsp;the&nbsp;school&nbsp;register&nbsp;is.......... .(in&nbsp;words).............
		</div>
	</div>

<div style="height:100px;font-style:Courier;float:right;">
 <div style="font-size:20px">
	Principal
 </div>
</div>

	