<div style="width:700px;font-family:Courier;">
	<div style="font-size:38px;text-align:center;">
		<u><em> Experience Certificate </em></u>
	</div>

	<div class="expander" style="height:20px">
	</div>
	<br/>
	<br/>
<div style="width:700px;height:200px;font-style:Courier">
		<div style="font-size:32px;line-height:35px;">
		&nbsp;This&nbsp;is&nbsp;to&nbsp;certify&nbsp;that&nbsp;Mr/Mrs/Miss&nbsp;<span style="font-size:20px;font-weight:bold;"><%= @employee.full_name %></span>&nbsp;S/o,D/o&nbsp;Mr&nbsp;<span style="font-size:20px;font-weight:bold;"><%= @employee.father_name || "................................ "%> </span>
		<br/>
		<br/>
		has/her&nbsp;Worked&nbsp;as&nbsp;a&nbsp;Assistant&nbsp;teacher&nbsp;in <br/><br/>
		this&nbsp;institute&nbsp;from:-<br/><br/>

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:20px;font-weight:bold;"><%= @employee.joining_date %></span>&nbsp;to&nbsp;<span style="font-size:20px;font-weight:bold;"><%= Date.today %></span><br/> <br/>

		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.........&nbsp;to&nbsp;......... <br/> <br/>

		During&nbsp;this&nbsp;period&nbsp;her&nbsp;work&nbsp;was&nbsp;satisfactory.
	</div>
</div>

<div class="expander" style="height:350px">
</div>

<div style="height:100px;font-style:Courier;float:right;">
	 <div style="font-size:32px">
	Principal
	</div>
</div>
</div>
