<div class="header"> 
	<span class="left" style="float:left;font-size:12px;">Ref.No:- Vnp/fkps/</span>  <span class="right" style="float:right;font-size:12px">Date:- </span>
</div>
<div class="expander" style="height:30px">
</div>
<div style="font-family:Arial;">
	<div style="text-align:center;font-size:25px;">
		<u> FEE CERTIFICATE </u>
	</div>

	<div class="expander" style="height:18px">
	</div>
	
	<div style="height:200px;font-style:Arial">
		<div style="font-size:22px;line-height:25px;">
			It&nbsp;&nbsp;    is  &nbsp;&nbsp;to   &nbsp;&nbsp; certify &nbsp; that&nbsp;..............................&nbsp;S/o&nbsp;D/o
      <br/>
			Mr&nbsp;............,Mrs.&nbsp;.............&nbsp;,&nbsp;is &nbsp;a  &nbsp;  regular&nbsp; &nbsp; student
			<br/>
			of&nbsp;class&nbsp;........Sec&nbsp;.........&nbsp;in&nbsp;our&nbsp;School.&nbsp;His/Her&nbsp;admission&nbsp;
			<br/>
			No.is&nbsp;..........&nbsp;As&nbsp;per&nbsp;School&nbsp;record.&nbsp;His/Her&nbsp;total&nbsp;Tuition
			fee&nbsp;of&nbsp;the&nbsp;session&nbsp;........&nbsp;is&nbsp;........&nbsp;/-&nbsp;(in&nbsp;figure).
			<br/>
			 .............................. Rs Only.
	</div>
</div>
 

<div class="expander" style="height:10px">
</div> 

 <div style="height:100px;font-style:Courier;float:right;">
 <div style="font-size:20px">
	Principal <br/> 
	..................
 </div>             	                                             
</div>