<div style="font-size:18px;font-color:black">
To , <br/>
<br/>
The Principal <br/> 
Flower Kids Public School <br/> 
Vidyangar Panchvati Sagwara <br/>
<br/>
Subject :- For joining . 
<br/>
<br/>
Sir , 
<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;Most&nbsp; respectfully&nbsp; I&nbsp; beg&nbsp; to&nbsp; say&nbsp; that&nbsp; I&nbsp; have&nbsp; been&nbsp; appointed<br/>
in&nbsp; your&nbsp; school&nbsp; according&nbsp; your&nbsp; appointment&nbsp; letter&nbsp; reference<br/> 
No&nbsp;<span style="font-weight:bold"><%= @employee.employee_number %></span> &nbsp;&nbsp; I&nbsp; want&nbsp; to&nbsp; join&nbsp; in&nbsp; your&nbsp; school&nbsp;.&nbsp; I&nbsp; will&nbsp; abide<br/> 
by&nbsp; rules&nbsp; and&nbsp; regulation&nbsp; of&nbsp; Vidyanagar&nbsp;I&nbsp; agree&nbsp; to&nbsp; work&nbsp; here&nbsp; on&nbsp;<br/>
montly&nbsp;Pay .............. . I will do my best and work with dedication. <br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kindly accept my joining letter .
</div>           
<br/>
<br/>
<div class="right" style="float:right">
Your Sincerely <br/>
<span style="font-weight:bold"><%= @employee.full_name %></span>
</div>                                                                                      