<div class="header"> 
<div style="font-size:38px;text-align:center;margin-left:12px;">
	<u><em> Resignation Letter </em></u>
</div>

<div class="expander" style="height:40px;"> </div>

<div style="height:200px;font-style:'Times Roman'">
		<div style="font-size:18px;line-height:25px;">
To , <br/> <br/>
The Principal ,<br/>
Flower Kids Public School, <br/> 
Vidhyanagar Panchvati , Sagwara. 
<br/>
<br/>
Date :- 
<br/>
<br/>
Subject: - To resign from the school 
<br/>
<br/>
Sir , <br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With due respect I would like to request you that I want to quit up 
<br/> 
my services in the school from 
<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;am&nbsp;&nbsp;thankful&nbsp;&nbsp;and&nbsp;&nbsp;grateful&nbsp;&nbsp;to&nbsp;&nbsp;flower&nbsp;&nbsp;Kids&nbsp;&nbsp;family&nbsp;&nbsp;where&nbsp;&nbsp;I&nbsp;&nbsp;got&nbsp;&nbsp;wonderful&nbsp;&nbsp;platform&nbsp;&nbsp;and learned innovative methods of teachings.
<br/>
<br/>
Sir&nbsp;&nbsp;actually,&nbsp;&nbsp;circumstances&nbsp;&nbsp;has made me to resign. 
<br/>
<br/>
If&nbsp;&nbsp;it&nbsp;&nbsp;is&nbsp;&nbsp;possible&nbsp;&nbsp;I&nbsp;&nbsp;am&nbsp;&nbsp;interested&nbsp;&nbsp;to&nbsp;&nbsp;rejoin&nbsp;&nbsp;the&nbsp;&nbsp;school&nbsp;&nbsp;willingly&nbsp;&nbsp;very&nbsp;&nbsp;soon&nbsp;&nbsp;I&nbsp;&nbsp;wish&nbsp;&nbsp;for&nbsp;&nbsp;your&nbsp;&nbsp;kind
<br/>
cooperation&nbsp;&nbsp;next.&nbsp;&nbsp;Therefore&nbsp;&nbsp;,&nbsp;&nbsp;Kindly&nbsp;&nbsp;accept&nbsp;&nbsp;it&nbsp;&nbsp;&&nbsp;&nbsp;please&nbsp;&nbsp;make&nbsp;&nbsp;the&nbsp;&nbsp;any&nbsp;&nbsp;required&nbsp;&nbsp;clearance
<br/>
from&nbsp;&nbsp;the&nbsp;&nbsp;school&nbsp;&nbsp;if&nbsp;&nbsp;so.
<br/>
<br/> 
Thanking you sir 
<br/>
<br/>
Yours truely,
<br/>
<br/>
<span style="font-weight:bold">
	<%= @employee.full_name %>
</span>
</div>
</div>
</div>