<% if @laurel.nil? %>
  <div id="news_no_result">No laurels found</div>
<% else %>
  <% @laurel.each do |r| %>

      <div id="news_ajax_result">
    <% link_value = r.id %>
    <%=  link_to link_value, :controller => "laurels", :action => 'view', :id => r.id%><br/>
    <small><%= r.created_at %></small>
  </div>
  <% end %>
<% end %>
